.information {
    width: 60vw;
    height: 30vh;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}